<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--    <description>MySQL Recepttura</description>
    <resource-ref>
        <description>databaseconnect</description>
        <res-ref-name>receptura_db</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>database.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>loginok.Login</servlet-class>
    </servlet>
    <!--    <error-page>error.html</error-page>
    <error-code>*</error-code>
    <location>/</location>-->
    <servlet>
        <servlet-name>RegAdatEllenorzese</servlet-name>
        <servlet-class>loginok.RegAdatEllenorzese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>alap.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminstat</servlet-name>
        <servlet-class>alap.adminstat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BelepesRegisztraltFelhasznaloknak</servlet-name>
        <servlet-class>loginok.BelepesRegisztraltFelhasznaloknak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bejelentkezve</servlet-name>
        <servlet-class>loginok.Bejelentkezve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FreeKeresesek</servlet-name>
        <servlet-class>free.FreeKeresesek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptRogzites</servlet-name>
        <servlet-class>adatrogzites.ReceptRogzites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recepttemp</servlet-name>
        <servlet-class>adatrogzites.Recepttemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>loginok.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlapanyagFelvetel</servlet-name>
        <servlet-class>adatrogzites.AlapanyagFelvetel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptKereso</servlet-name>
        <servlet-class>loginok.ReceptKereso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecialisKeresesek</servlet-name>
        <servlet-class>loginok.SecialisKeresesek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unreg</servlet-name>
        <servlet-class>loginok.Unreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElkeszitesLeirasa</servlet-name>
        <servlet-class>adatrogzites.ElkeszitesLeirasa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptTorles</servlet-name>
        <servlet-class>adatrogzites.ReceptTorles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecepTorlesKerdes</servlet-name>
        <servlet-class>adatrogzites.RecepTorlesKerdes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptTorlesValidalas</servlet-name>
        <servlet-class>adatrogzites.ReceptTorlesValidalas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TetelTorlesKerdes</servlet-name>
        <servlet-class>adatrogzites.TetelTorlesKerdes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TetelTorolValidalas</servlet-name>
        <servlet-class>adatrogzites.TetelTorolValidalas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kalk</servlet-name>
        <servlet-class>free.kalk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beltartalom</servlet-name>
        <servlet-class>alap.beltartalom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegAdatEllenorzese</servlet-name>
        <url-pattern>/beregisztral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminstat</servlet-name>
        <url-pattern>/adminstat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BelepesRegisztraltFelhasznaloknak</servlet-name>
        <url-pattern>/belepes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bejelentkezve</servlet-name>
        <url-pattern>/bejelentkezve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FreeKeresesek</servlet-name>
        <url-pattern>/keresesek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptRogzites</servlet-name>
        <url-pattern>/RR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recepttemp</servlet-name>
        <url-pattern>/recepttemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlapanyagFelvetel</servlet-name>
        <url-pattern>/alapanyag_rogzitese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptKereso</servlet-name>
        <url-pattern>/recep_keresese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecialisKeresesek</servlet-name>
        <url-pattern>/specialis_keresesek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unreg</servlet-name>
        <url-pattern>/unreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnregValidalas</servlet-name>
        <url-pattern>/UnregValidalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElkeszitesLeirasa</servlet-name>
        <url-pattern>/elkeszitese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptTorles</servlet-name>
        <url-pattern>/eldobas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecepTorlesKerdes</servlet-name>
        <url-pattern>/rtorolk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptTorlesValidalas</servlet-name>
        <url-pattern>/ReceptTorles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TetelTorlesKerdes</servlet-name>
        <url-pattern>/teteltorol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TetelTorolValidalas</servlet-name>
        <url-pattern>/TetelTorolValidalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kalk</servlet-name>
        <url-pattern>/kalk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beltartalom</servlet-name>
        <url-pattern>/beltartalom</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
